$border-radius: 4px;

.rb-single-date-range-picker-calendar {
  padding: 5px 12px;
  font-size: 12px;
  .table {
    margin: 0;
    th.rb-prev-month,
    th.rb-next-month,
    td {
      cursor: pointer;
    }
    th,
    td {
      position: relative;
      text-align: center;
      padding: 5px;
      border-radius: $border-radius;
      width: 32px;
      line-height: 24px;
      &.rb-disabled {
        color: #999;
        cursor: not-allowed;
      }
    }
    td {
      &.rb-disabled {
        text-decoration: line-through;
      }
      &.rb-prev,
      &.rb-next {
        color: #999;
      }
      &.rb-in-range:not(.rb-off-month),
      &.rb-hover-in-range:not(.rb-off-month) {
        background-color: #ebf4f8;
        border-radius: 0;
      }
      &.rb-in-range.rb-hover-in-range:not(.rb-off-month) {
        background-color: #afd9ee;
        border-radius: 0;
      }
      &.rb-today::before {
        border-radius: $border-radius;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        content: '';
        border: 1px solid #357ebd;
      }
      &:hover {
        background-color: #ddd;
      }
      &.rb-start-date:not(.rb-off-month),
      &.rb-end-date:not(.rb-off-month),
      &.rb-start-date.rb-end-date:not(.rb-off-month) {
        color: #fff;
        background-color: #357ebd;
        border-radius: $border-radius;
      }
      &.rb-start-date:not(.rb-off-month) {
        border-radius: $border-radius 0 0 $border-radius;
      }
      &.rb-end-date:not(.rb-off-month) {
        border-radius: 0 $border-radius $border-radius 0;
      }
    }
  }
}
